<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>to-do-list</title>
  </head>

  <body>

    <nav>
      <h4>Node MySQL Login</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>

    <h1>Hello Arpitaaaaaa, ki khobor! eta add </h1>

    <div class="task_container">
      <form action="/addtask">
        <h3>ADD TASK</h3>

        <hr />

        <label for="task"><b>Task</b></label>
        <input
          type="text"
          placeholder="Enter Task"
          name="task"
          id="task"
          required
        />

        <label for="task_detail"><b>Task Detail</b></label>
        <input
          type="text"
          placeholder="Enter Task Detail"
          name="task_detail"
          id="task_detail"
          required
        />

        <label for="date"><b>Date</b></label>
        <input
          type="date"
          placeholder="Enter date"
          name="date"
          id="date"
          required
        />

        <!--
        <div class="gender_g">
          <strong>Gender</strong>
          <input type="radio" name="gender" id="" value="Male" />
          Male
          <input type="radio" name="gender" id="" value="Female" />
          Female
        </div>
        -->
        <button type="submit" class="registerbtn">ADD TASK</button>

        <a href="./dashboard" style="color:black">BACK TO HOME PAGE</a>
        <br />

        {{#if mesg}}
          <h3>Task Inserted</h3>
        {{/if}}

        {{#if checkmesg}}
          <h3>Task is already present!</h3>
        {{/if}}
      </form>
      
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>